.texlive*/
.vscode/
.idea/
.cache
.tox/
venv/
*.pyc
*.synctex.gz
*~
*.backup
*.bak
*.directory
BAZAR/
tmp.py
temp.py
extensions/autoqcm/test_complet/
build/
dist/
ptyx.egg-info/
*/__pycache__/*
.mypy_cache/
.pytest_cache
do-not-track
