[tool.poetry]
name = "ptyx-mcq"
version = "22.3"
description = "pTyX is a python precompiler for LaTeX."
authors = ["Nicolas Pourcelot <nicolas.pourcelot@gmail.com>"]
repository = "https://github.com/wxgeo/ptyx"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["python", "tikz", "latex", "pdf", "exam", "mcq", "student"]

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^1.23.0"
Pillow = "^9.2"
sympy = "^1.10.1"
pdf2image = "^1.16.0"
ptyx = "^22.4.1"
types-Pillow = "^9.0.20"


[tool.poetry.dev-dependencies]
pytest = "^7"
mypy = "^0.991"
flake8 = "^6"
black = "^22.1.0"
tox = "^4.1.2"
sphinx-autodoc-typehints = "^1.18.3"
sphinx-rtd-theme = "^1.0.0"#
myst-parser = "^0.18.0"
ptyx = {path = "../ptyx", develop = true}

[tool.poetry.scripts]
mcq = 'ptyx_mcq.cli:main'

[tool.poetry.plugins."ptyx.extensions"]
mcq = "ptyx_mcq"

[tool.mypy]
implicit_optional = true

[tool.black]
line-length = 110

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = true
isolated_build = True
envlist = py310

[testenv]
passenv = HOME
allowlist_externals = poetry
commands =
    poetry install -v
    poetry run pytest tests
    poetry run mypy ptyx_mcq tests
    poetry run flake8 ptyx_mcq --max-line-length 110 --ignore=E203,W503,W391
"""
